

/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap"); */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
} */

/* body {
  background-color: #181a1f;
  padding: 0px 20px;
} */

.abc {
  padding: 50px 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.parent {
  height: 400px;
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card {
  padding-top: 100px;
  transform-style: preserve-3d;
  background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.card:hover {
  background-position: 80% 20%;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}
.content-box .card-title {
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}
.content-box .card-content {
  padding-top: 15px;
  font-size: 12px;
  color: #b9b9b9;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 50px);
}
.content-box .see-more {
  display: block;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  color: #0088ff;
  padding-top: 15px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}
.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 50px);
}

.date-box {
  position: absolute;
  top: 75px;
  left: 25px;
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: #0066ff 0px 20px 60px 0px, #00c8ff 0px 18px 36px -18px;
  transform: translate3d(0px, 0px, 50px);
}
.date-box span {
  display: block;
  text-align: center;
}
.date-box .month {
  color: white;
  font-size: 11px;
  font-weight: 700;
}
.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: #0088ff;
}

.card2 {
  filter: hue-rotate(150deg);
}

.card1 {
    filter: hue-rotate(50deg);
  }

  .card4 {
    filter: hue-rotate(250deg);
  }
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: transparent; }
  }
  
  .typing-effect {
    overflow: hidden; /* Hide overflowing text */
    border-right: 0.15em solid ; /* Create a cursor effect */
    white-space: nowrap; /* Prevent text from wrapping */
    animation: typing 3s steps(40, end) 1s, blink-caret 0.75s step-end infinite; /* Adjust the duration and delay as needed */
    animation-iteration-count: infinite; /* Repeat the animation infinitely */
  }
  
  .back-img{
    background-image: url("/public/images/pexels-moose-photos-1037995.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: rotateAnimation;
    animation-duration: 1ms; /* Firefox requires this to apply the animation */
    animation-timeline: scroll(root);
    /* animation-range: 250px 500px; */
  }
  
  @keyframes rotateAnimation {
    from {
      transform:scale(1) ;
    }
    to {
      transform: scale(2);
    }
  }
